.miniStatus {
  display: inline-block;
  width: 25px;
  text-align: center;
  box-shadow: 0px 1px 1px gray;
  color: darkslateblue;
  border: 1px solid darkblue;

}

.mini-status-tracker {
  vertical-align: top;
  background: #ffffff;
   box-shadow: -1px 2px 4px 0px rgba(0,0,0,0.16), inset 0px -2px 7px 0px rgba(0,0,0,0.1), inset 0px 2px 0px 0px rgba(255,255,255,0.3);
  border: 1px dotted gray;
  border-radius: 5px;
  display: inline-block;
  width: 20%;
}

.mini {
  color: #000000;
  text-align: left;
  padding: 10px;
  border-radius: 5px;
}

.stats {
  display: inline-block;
  margin-left: 40px;
  /* padding-right: 10px; */
  margin-top: 5px;
  margin-bottom: 0px;
  background: beige;
  padding: 10px;
}

.sb-avatar {
  display: block !important;
  margin: auto;
}

